@font-face {
    font-family: 'streetwearregular';
    src: url('fonts/streetwear-webfont.woff2') format('woff2'),
         url('fonts/streetwear-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #010038;
    color: #81f5ff;
}

#jumbotron {
    height: 100vh;
    width: 100%;
    background-image: url('img/bg-jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #040F2D;
    background-blend-mode: screen;
    display: table;
    margin-bottom: 0px;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#jumbotron h2 {
    font-family: 'Quantico', fantasy;
    font-size: 6vw;
    color: #EE9D1C;
}
#scroll-down-button {
    position: absolute;
    bottom: 10vh;
    width: 70px;
    left: 50%;
    margin-left: -35px;
    animation: 1.5s 0s bounce infinite;
}

@keyframes bounce {
    0% {
        bottom: 10vh;
    }
    50% {
        bottom: 7vh;
    }
    100% {
        bottom: 10vh;
    }
}

.blockquote {
    color: rgb(186, 160, 130);
}

#quotes {
    margin: auto;
    width: fit-content;
}

.anchor {
    padding-top:65px;
    margin-top:-65px;
}

.navbar {
    background-color: #293a80;
}

#navbrand {
    font-family: 'streetwearregular';
}

.dropdown-item:hover {
    background-color: #d8d8c3;  
}

#about .left-section {
    width: 69%;
    padding: 4vw;
    font-size: x-large;
}
#about h1 {
    margin-bottom: 5vmin;
    color: #EE9D1C;
}
#about .right-section {
    width: 28%;
    padding: 4vw;
}
#about img {
    width: 100%;
    transform: scale(-1, 1);
    border: 10px solid #EE9D1C;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#education {
    margin-top: 1vw;
}
#education h2 {
    margin-left: 3vw;
    font-weight: bold;
    color: #EE9D1C;
}
#education ul {
    margin-top: 30px;
    margin-left: 1vw;
}

#education li {
    /* display: flex; */
    flex-direction: row;
    list-style-type: none;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 5px solid #EE9D1C;
    border-radius: 7px;
    padding: 10px 0px 10px 20px;
    width: 65%;
}
#education h5 {
    color: #EE9D1C;
}
#education li h4 {
    padding-left: 30px;
}

#logo-maung {
    width: 8em;
}
#education table{
    font-family: Helvetica;
}
#education td {
    padding: 8px;
}

#detail-button {
    /* position: relative; */
    margin-top: 2vw;
    /* bottom: 10px; */
}

#achievement {
    margin-top: 3vh;
    margin-left: 3vw;
}

.carousel {
    background-color: #010038;
}
.carousel-item {
    padding: 10px;
    background-color: #010038;
}
.carousel-card {
    margin: auto;
    width: 80vw;
    height: 80vmin;
}
.carousel-img {
    height: 70vh;
    margin: auto;
}
.carousel-desc {
    margin-top: 25px;
    width: 38%;
    font-size: larger;
}

.carousel-desc h2 {
    font-weight: bolder;
    color: #EE9D1C;
}

#project {
    margin-top: 3vh;
}

.anchor h2 {
    font-weight: bold;
    color: #EE9D1C;
}
.anchor > h2 {
    margin-left: 3vw;
}

#contact {
    /* display: inline-block; */
    /* margin: auto; */
    width: fit-content;
}

#contact img {
    width: 20vmin;
    margin: 20px;
}

.testi-item {
    width: 90%;
    margin: auto;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
}

.testi-item .left-section {
    width: 30%;
    /* margin-right: 20px;
    margin-left: 20px; */
    padding: 10px;
}

.left-section img {
    width: 100%;
}
.testi-item .right-section {
    width: 60%;
    padding: 10px;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.modal-dialog {
    max-width: 100vw;
    height: 85vh;
    background-color: #293a80;
}

.matkul {
    display: flex;
}

.matkul-form {
    
}

.matkul-data {

}

@media only screen and (max-width: 768px) {
    #jumbotron h2 {
        font-size: 9vw;
    }

    .container {
        padding-bottom: 20vh;
    }

    #about {
        flex-direction: column-reverse!important;
    }

    #about .left-section {
        width: 90%;
        margin: auto;
        font-size: large;
    }

    #about .right-section {
        width: 50%;
        margin: auto;
    }

    #education ul{
        margin-left: -5px;
    }

    #education li {
        width: 90%
    }

    .carousel-card {
        flex-direction: column!important;
        height: auto;
    }

    .carousel-img {
        width: 100%;
        height: auto;
    }

    .carousel-desc {
        width: 100%;
    }

    .testi-item {
        flex-direction: column!important;
    }

    .testi-item .left-section {
        width: 100%;
        /* margin: auto; */
    }

    .testi-item .right-section {
        width: 100%;
        margin-bottom: 2vh;
    }

    .testi-item img {
        width: 80%;
        margin: auto;
        display: block;
    }
}