{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile Aldi</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'old_profile_page/style.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar">
  <div id="jumbotron" class="jumbotron jumbotron-fluid mb-0">
    <div class="container mx-auto my-auto" style="width: 700px;">
      <h1 id="header-text" class="display-4 text-center text-white">A l d i &nbsp N a u f a l &nbsp F i t r a h</h1>
      <p class="blockquote text-center mt-4 mb-0" style="color: darkgrey;">Tak kenal maka tak sayang...</p>
      <footer class="blockquote-footer text-right" style="margin-right: 31.5%;">Pepatah</footer>
      <a href="#about"><img id="scroll-down" class="mx-auto d-block" src="{% static 'old_profile_page/img/scroll-down.png' %}" alt="" width="50px"></a>
    </div>

  </div>

  <nav class="navbar navbar-expand-xl bg-dark navbar-dark sticky-top">
    <!-- Brand -->
    <a id="navbrand" class="navbar-brand ml-4 mt-2" href="#jumbotron">Aldi</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-5 ml-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#profile">Education</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="about" class="anchor">
    <img id="foto" src="{% static 'old_profile_page/img/ID03-min2.jpg' %}" alt="Foto Aldi">
    <div id="teks" class="mr-5">
      <h3 class="display-3" style="font-weight: bold; font-family: Helvetica;">Hai, nama saya Aldi!</h3><br>
      <p id="deskripsi" class="lead">Saya adalah saya, bukan dia, apalagi mereka. Di masa depan, saya akan menjadi saya yang lebih baik dari hari ini, baik dari segi kedewasaan, finansial, juga pemikiran. Di waktu senggang, saya suka membuka laptop untuk sekadar mendengarkan musik dan mencari sesuatu untuk dikerjakan, atau berbincang kepada orang-orang terdekat. Ini tentang saya, jadi nikmati saja ya.</p>
  </div>
  </div>
  
  <div id="profile" class="anchor ml-3 mt-n4">
    <div id="pendidikan">
      <h2 class="display-3" style="font-weight: 500;">Riwayat Pendidikan</h2>
      <ul>
        <li>
          <div class="sekolah-wrapper">
            <h5>2005 - 2007</h5>
            <h4>TK Putradarma Global School Tambun Selatan</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/pdgs.png' %}" alt="Putradarma Global School">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2007 - 2008</h5>
            <h4>SDN 03 Alai Padang</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/tut-wuri-handayani.png' %}" alt="">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2008 - 2009</h5>
            <h4>SDN Mekarsari 01 Tambun Selatan</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/tut-wuri-handayani.png' %}" alt="">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2012 - 2013</h5>
            <h4>SDN Jemurwonosari 1 Surabaya</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/tut-wuri-handayani.png' %}" alt="">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2009 - 2012</h5>
            <h4>SDN 6 Pekanbaru</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/tut-wuri-handayani.png' %}" alt="">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2013 - 2016</h5>
            <h4>SMPN 1 Medan</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/tut-wuri-handayani.png' %}" alt="">
          </div>
        </li>
        <li>
          <div class="sekolah-wrapper">
            <h5>2016 - 2019</h5>
            <h4>SMAN 1 Matauli Pandan</h4>
            <img class="logo-sekolah" src="{% static 'old_profile_page/img/mtn.png' %}" alt="Matauli">
          </div>
        </li>
        <li>
          <div>
            <div class="sekolah-wrapper">
              <h5>2019 - sekarang</h5>
              <h4>Universitas Indonesia</h4>
              <img class="logo-sekolah" src="{% static 'old_profile_page/img/pacil.png' %}" alt="Fasilkom UI">
            </div>
          </div>
          <button id="detail-button" class="btn btn-primary fluid" type="button" data-toggle="collapse" data-target="#detail" aria-expanded="false" aria-controls="detail">
            Detail
          </button>
          <div class="collapse" id="detail" style="font-weight: 600; padding-left: 30px;">
            <table>
              <tr>
                <td>NPM :</td>
                <td>1906285472</td>
              </tr>
              <tr>
                <td>Angkatan :</td>
                <td><a href="https://maung.id/" target="_blank"><img id="logo-maung" src="{% static 'old_profile_page/img/maung-nav.png' %}" alt="maung 2019"></a></td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="contact" class="anchor mx-auto my-4" style="width: 400px;">
    <h6 class="display-6">Contact me at:</h6>
    <a target="_blank" href="http://line.me/ti/p/~aldinfitrah"><img src="{% static 'old_profile_page/img/line.png' %}" alt="Logo Line"></a>
    <a target="_blank" href="https://www.instagram.com/aldinfitrah/"><img src="{% static 'old_profile_page/img/instagram.jpg' %}" alt="Logo Line"></a>
    <a target="_blank" href="https://www.linkedin.com/in/aldi-naufal-fitrah-645ba4175"><img src="{% static 'old_profile_page/img/linkedin.png' %}" alt="Logo Line"></a>
    <a target="_blank" href="https://wa.me/6281381136428?text=Hai%20Aldi,%20nama%20saya%20"><img src="{% static 'old_profile_page/img/whatsapp.jpg' %}" alt="Logo Line"></a>
  </div>
  
  <!-- by Joseph Silber -->
  <!-- Got it from https://stackoverflow.com/questions/7717527/smooth-scrolling-when-clicking-an-anchor-link -->
  <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
  </script>
</body>
</html>