.navbar-right {
    float: right;
}

@font-face {
    font-family: 'streetwearregular';
    src: url('fonts/streetwear-webfont.woff2') format('woff2'),
         url('fonts/streetwear-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
    font-family: 'streetwearregular';
}

#jumbotron {
    position: static;
    background-image: url('img/dark.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

#deskripsi {
    margin-top: -30px !important;
}

#jumbotron p,footer {
    animation: fadein 5s;
}

#jumbotron h1 {
    animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}

#scroll-down {
    margin-top: 23%;
    animation-name: bounce, fadein;
    animation-duration: 2s, 5s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: ease-;
}

@keyframes bounce {
    0% {
        margin-top: 26%;
    }
    35% {
        margin-top: 28%;
    }
    100% {
        margin-top: 26%;
    }
}

#header-text {
    margin-top: 23vh;
}

.anchor {
    padding-top:65px;
    margin-top:-65px;
}

#foto {
    width: 300px;
    border: 7px solid #0672b1;
    border-radius: 500px;
    margin: 4vw 2vw 2vw 4vw;
    float: left;
}

#about {
    display: flex;
    flex-direction: row;
}

#teks{
    margin-top: 4vw;
}

#about p {
    font-size: 2.5vmax;
}

@media only screen and (max-width: 1000px) {
    #collapsibleNavbar {
        font-size: 30pt !important;
    }
    #navbrand {
        margin-left: 0px !important;
        font-size: 30pt;
    }
    #header-text {
        font-size: 5.6vw;
    }
    #foto {
        width: 60vw;
        margin: auto;
        margin-top: 3vh;
    }
    #about {
        flex-direction: column;
    }
    #teks {
        margin-left: 30px;
    }
}

#pendidikan ul {
    margin-top: 30px;
}

#pendidikan li {
    /* display: flex; */
    flex-direction: row;
    list-style-type: none;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 5px solid #1651f3;
    border-radius: 7px;
    padding: 10px 0px 10px 20px;
    width: 65%;
}

#pendidikan li h4 {
    padding-left: 30px;
}

.sekolah-wrapper {
    display: grid;
    width: 600px;
    grid-template-columns: 600px 100px;
    grid-template-rows: auto auto;
}

.sekolah-wrapper h5 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sekolah-wrapper h4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.logo-sekolah {
    /* width: 100px; */
    justify-self: center;
    height: 100px;
    margin: 0 0 0 0;
    grid-column: 2 /3;
    grid-row: 1 / 3;
}
#logo-maung {
    width: 8em;
}
#pendidikan table{
    font-family: Helvetica;
}
#pendidikan td {
    padding: 10px;
}

#detail-button {
    position: relative;
    bottom: 10px;
}

#contact {
    margin-top: 30px;
}
#contact img {
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}