{% extends 'profile_page/base.html' %}
{% load static %}

{% block content %}
	<div id="jumbotron" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2>Aldi Naufal Fitrah</h2>
			<div id="quotes">
				<p class="blockquote text-center mt-4 mb-0">Tak kenal maka tak sayang</p>
				<footer class="blockquote-footer text-right">Pepatah</footer>
			</div>
			<a href="#about"><img id="scroll-down-button" src="{% static 'profile_page/img/scroll-down-button.png' %}" alt=""></a>
		</div>
	</div>

	{% include 'profile_page/navbar.html' %}

  <div id="about" class="anchor d-flex flex-row">
    <div class="left-section" data-aos="fade-in">
      <h1 class="display-4"><strong>Hai, Saya Aldi!</strong></h1>
      Saya adalah saya, bukan dia, apalagi mereka. Di masa depan, saya akan menjadi saya yang lebih baik dari hari ini, baik dari segi kedewasaan, finansial, juga pemikiran. Di waktu senggang, saya suka membuka laptop untuk sekadar mendengarkan musik dan mencari sesuatu untuk dikerjakan, atau berbincang kepada orang-orang terdekat. Ini tentang saya, jadi nikmati saja ya.
    </div>
    <div class="right-section" data-aos="flip-left" data-aos-duration="1500">
      <img src="{% static 'profile_page/img/me.jpg' %}" alt="">
    </div>
  </div>

  <div id="education" class="anchor">
    <h2 class="display-4" data-aos="fade-in">Riwayat Pendidikan</h2>
    <ul>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2005 - 2007</h5>
        <h4>TK Putradarma Global School Tambun Selatan</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2007 - 2008</h5>
        <h4>SDN 03 Alai Padang</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2008 - 2009</h5>
        <h4>SDN Mekarsari 01 Tambun Selatan</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2009 - 2012</h5>
        <h4>SDN 6 Pekanbaru</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2012 - 2013</h5>
        <h4>SDN Jemurwonosari 1 Surabaya</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2013 - 2016</h5>
        <h4>SMPN 1 Medan</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <h5>2016 - 2019</h5>
        <h4>SMAN 1 Matauli Pandan</h4>
      </li>
      <li data-aos="fade-right" data-aos-duration="1000">
        <div>
          <h5>2019 - sekarang</h5>
          <h4>Universitas Indonesia</h4>
        </div>
        <button id="detail-button" class="btn btn-primary fluid" type="button" data-toggle="collapse" data-target="#detail" aria-expanded="false" aria-controls="detail">
          Detail
        </button>
        <div class="collapse" id="detail" style="font-weight: 600; padding-left: 30px;">
          <table>
            <tr>
              <td>NPM :</td>
              <td>1906285472</td>
            </tr>
            <tr>
              <td>Angkatan :</td>
              <td><a href="https://maung.id/" target="_blank"><img id="logo-maung" src="{% static 'profile_page/img/maung-nav.png' %}" alt="maung 2019"></a></td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>

  <div id="achievement" class="anchor">
  <!-- <h2 class="display-4">Pencapaian</h2> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><h2 class="display-4">Click to see Pencapaian</h2></button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg m-2">
      <!-- <h2 class="display-4">Pencapaian</h2> -->
      <div class="modal-content">
        <div id="carousel-achievement" class="carousel slide anchor" data-ride="carousel">
          <h2 class="display-4">Pencapaian</h2>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-card d-flex flex-row">
                <img src="{% static 'profile_page/img/osn-2018.jpg' %}" class="d-block w-60 carousel-img" alt="img/osn-2018.jpg">
                <div class="carousel-desc">
                  <h2>Olimpiade Sains Nasional 2018</h2>
                  <p>OSN 2018 adalah salah satu titik perubahan terbesar dalam hidup saya. Setelah melewati seleksi tingkat sekolah, kabupaten, dan provinsi, sampailah pada tingkat nasional yang pada tahun itu dilaksanakan di Kota Padang, Sumatera Barat. Kegiatan inti dari OSN berlangsung selama 2 hari, dimana peserta diberikan 3 masalah pemrograman perharinya untuk diselesaikan menggunakan program dalam bahasa Pascal, C, atau C++.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-card d-flex flex-row">
                <img src="{% static 'profile_page/img/p1IPB.jpg' %}" class="d-block w-60 carousel-img" alt="img/Pelatnas1.jpg">
                <div class="carousel-desc">
                  <h2>Pemusatan Latihan Nasional I Tim Olimpiade Komputer Indonesia 2019</h2>
                  <p>Pelatnas merupakan rangkaian lanjutan dari OSN. Selama 1 bulan penuh, semua peserta diberi materi algoritma serta struktur data setiap harinya, lalu mengerjakan soal-soal yang sudah disediakan. 16 peserta terbaik akan diberi kesempatan untuk melanjutkan perjuangannya di Pelatnas 2 TOKI 2019.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-card d-flex flex-row">
                <img src="{% static 'profile_page/img/BCC-UMJ.jpg' %}" class="d-block w-60 carousel-img" alt="img/BCC UMJ.jpg">
                <div class="carousel-desc">
                  <h2>Business Case Competition, Management Week UMJ 2019</h2>
                  <p>BCC UMJ merupakan kompetisi dimana peserta diberikan masalah terkait Revolusi Industri 4.0, dan diminta untuk menawarkan solusinya. Babak penyisihan dilaksanakan dengan mengumpulkan <em>paper</em>. 10 terbaik akan diadu dalam babak final untuk mempresentasikan hasil kerjanya.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-achievement" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-achievement" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  
  <div id="project" class="carousel slide anchor" data-ride="carousel" data-aos="fade-in" data-aos-duration="1000">
    <h2 class="display-4">Project</h2>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-card d-flex flex-row">
          <img src="{% static 'profile_page/img/project2.jpg' %}" class="d-block w-60 carousel-img" alt="img/osn-2018.jpg">
          <div class="carousel-desc">
            <h2>Belum ada :(</h2>
            <p>Doain ya semoga segera ada hehe</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev disabled" href="#project" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next disabled" href="#project" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="contact" class="anchor mx-auto my-4" data-aos="flip-down">
    <h6 class="display-6">Contact me at:</h6>
    <a target="_blank" href="https://www.linkedin.com/in/aldi-naufal-fitrah-645ba4175"><img src="{% static 'profile_page/img/linkedin-logo.png' %}" alt="Logo Linkedin"></a>
    <a target="_blank" href="https://wa.me/6281381136428?text=Hai%20Aldi,%20nama%20saya%20"><img src="{% static 'profile_page/img/WA-logo.png' %}" alt="Logo WA"></a>
    <a target="_blank" href="https://gitlab.com/AldiNFitrah"><img src="{% static 'profile_page/img/gitlab-logo.png' %}" alt="Logo WA"></a>
  </div>
{% endblock %}