{% extends 'profile_page/base.html' %}

{% block content %}
  {% include 'profile_page/navbar.html' %}
  <div class="matkul d-flex flex-row">

    <div class="matkul-form">
      <form action="" method="post">
        <table>
          {% csrf_token %}
          {% for field in form %}
            <tr>
              <td>{{ field.label }}</td>
              <td>{{ field }}</td>
            </tr>      
          {% endfor %}
        </table>
        <button type="submit">Submit!</button>
      </form>
    </div>

    <div class="matkul-data">
      <table>
        <tr>
          <th>Nama Mata Kuliah</th>
          <th>Ruangan</th>
          <th>Detail</th>
          <th>Delete</th>
        </tr>
        {% for item in data %}
          <tr>
            <td>{{ item.nama }}</td>
            <td>{{ item.ruang }}</td>
            <td><a href="{% url 'profile_page:matkul-detail' item.id %}"><button type="button" class="btn btn-primary">Detail</button></a></td>
            <td><a href="{% url 'profile_page:matkul-hapus' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock %}