{% extends 'profile_page/base.html' %}

{% block content %}
  {% include 'profile_page/navbar.html' %}
  <table>
    <tr>
      <th>Nama Mata Kuliah</th>
      <td>: {{ item.nama }}</td>
    </tr>
    <tr>
      <th>Dosen</th>
      <td>: {{ item.dosen }}</td>
    </tr>
    <tr>
      <th>Jumlah SKS</th>
      <td>: {{ item.sks }}</td>
    </tr>
    <tr>
      <th>Ruangan</th>
      <td>: {{ item.ruang }}</td>
    </tr>
    <tr>
      <th>Semester</th>
      <td>: {{ item.semester }}</td>
    </tr>
    <tr>
      <th>Tahun Ajaran</th>
      <td>: {{ item.tahun_ajaran }}</td>
    </tr>
    <tr>
      <th>Deskripsi</th>
      <td>: {{ item.deskripsi }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'profile_page:matkul' %}"><button class="btn btn-primary">Back</button></a></td>
      <td><a href="{% url 'profile_page:matkul-hapus' item.id %}"><button class="btn btn-danger">Delete</button></a></td>
    </tr>
  </table>
  <div>
    <h3>Tugas-Tugas</h3>
    <table style="border: 2px solid white;">
      <tr>
        <th>Nama</th>
        <th>Deskripsi</th>
        <th>Deadline</th>
      </tr>
      {% for task in tasks %}
        <tr style="background-color: {{ task.color }};">
          <td>{{ task.nama }}</td>
          <td>{{ task.desc }}</td>
          <td>{{ task.deadline }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}