<nav id="navbar" class="navbar navbar-expand-lg sticky-top navbar-dark" style="z-index: 2;">
  <!-- Brand -->
  <a id="navbrand" class="navbar-brand ml-4 mt-2" href="{% url 'profile_page:index' %}#jumbotron">Aldi</a>
  
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-3 ml-auto">
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:index' %}#about" target="_self">About</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:index' %}#education" target="_self">Education</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:index' %}#achievement" target="_self">Achievement</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:index' %}#project" target="_self">Project</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:index' %}#contact" target="_self">Contact</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="{% url 'profile_page:testi' %}#testimonials" target="_self">Testimoni</a>
      </li>
      <li class="nav-item dropdown mx-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Etc
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'old_profile_page:index' %}">Story 1 PPW</a>
          <a class="dropdown-item" href="{% url 'profile_page:matkul' %}">Mata Kuliah</a>
        </div>
      </li>
    </ul>
  </div>
</nav>