{% extends 'profile_page/base.html' %}
{% load static %}

{% block content %}
  {% include 'profile_page/navbar.html' %}

  <div id="testimonials" class="anchor">
    <h2 class="display-4">Testimonials</h2>
    <div class="testi-item d-flex flex-row" data-aos="fade-right">
      <div class="left-section">
        <img src="{% static 'profile_page/img/profpic1.jpg' %}" alt="">
      </div>
      <div class="right-section">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore tenetur molestiae doloremque dignissimos quaerat rerum doloribus deleniti similique pariatur, nam neque excepturi eos exercitationem. Ipsum minima reprehenderit amet molestias culpa? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam recusandae illo error minima sed, eaque porro quaerat nemo cum quod assumenda magnam repellat. Doloremque voluptates nemo numquam aperiam delectus facilis.
      </div>
    </div>
    <div class="testi-item d-flex flex-row" data-aos="fade-right">
      <div class="left-section">
        <img src="{% static 'profile_page/img/profpic2.jpg' %}" alt="">
      </div>
      <div class="right-section">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore tenetur molestiae doloremque dignissimos quaerat rerum doloribus deleniti similique pariatur, nam neque excepturi eos exercitationem. Ipsum minima reprehenderit amet molestias culpa? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic eveniet nesciunt esse repellat id! Magni ipsum, animi, ut molestias culpa exercitationem dolore maiores dolorem est debitis doloribus atque sunt velit.
      </div>
    </div>
    <div class="testi-item d-flex flex-row" data-aos="fade-right">
      <div class="left-section">
        <img src="{% static 'profile_page/img/profpic3.jpg' %}" alt="">
      </div>
      <div class="right-section">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore tenetur molestiae doloremque dignissimos quaerat rerum doloribus deleniti similique pariatur, nam neque excepturi eos exercitationem. Ipsum minima reprehenderit amet molestias culpa? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, fugiat, et accusantium explicabo sint voluptas repudiandae voluptatem, molestias esse suscipit est vero sit deserunt magni perferendis! Quasi quod tempore et!
      </div>
    </div>
    <div class="testi-item d-flex flex-row" data-aos="fade-right">
      <div class="left-section">
        <img src="{% static 'profile_page/img/profpic4.jpg' %}" alt="">
      </div>
      <div class="right-section">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore tenetur molestiae doloremque dignissimos quaerat rerum doloribus deleniti similique pariatur, nam neque excepturi eos exercitationem. Ipsum minima reprehenderit amet molestias culpa? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, placeat aspernatur debitis asperiores ipsum amet ad expedita id. Recusandae consequatur corporis incidunt maiores voluptates, exercitationem et nisi earum ipsam provident?
      </div>
    </div>
    <div class="testi-item d-flex flex-row" data-aos="fade-right">
      <div class="left-section">
        <img src="{% static 'profile_page/img/profpic5.jpg' %}" alt="">
      </div>
      <div class="right-section">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore tenetur molestiae doloremque dignissimos quaerat rerum doloribus deleniti similique pariatur, nam neque excepturi eos exercitationem. Ipsum minima reprehenderit amet molestias culpa? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis commodi, culpa similique ea omnis eos ducimus consequatur ad at eveniet quo beatae facere, dolorem veniam maxime exercitationem, ipsum tenetur modi.
      </div>
    </div>
  </div>
{% endblock %}